<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Image Manipulator Enterprise Input Paga</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <table>
        <tr>
            <td colspan="2">Image Conversion Input Page</td>
        </tr>
        <tr>
            <form method="POST" enctype="multipart/form-data" action="/uploadFile">
                <td>
                    <label>File to upload</label>
                    <input type="file" class="form-control-file" id="file" name="file" >
                    <br>
                    <label>Effect:</label>
                    <select id="effect" name="effect">
                        <option value="blur">Blur Image</option>
                        <option value="magenta">Magenta Deep Fry</option>
                        <option value="palette16">Map to 16 Colours</option>
                    </select>
                    <br>
                    <label>Process options:</label>
                    <select id="options" name="options">
                        <option value="threads">Many Threads</option>
                        <option value="executor">With Executor Service</option>
                        <option value="single">Single Thread</option>
                    </select>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </td>
            </form>
        </tr>
    </table>
</body>
</html>