<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Image Manipulator Enterprise Input Paga</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <table>
        <tr>
            <th colspan="2">Image Conversion Input Page</th>
        </tr>
        <tr>
            <form method="POST" enctype="multipart/form-data" action="/uploadFile">
                <td>
                    <label>File to upload</label>
                    <input type="file" class="form-control-file" id="file" name="file" >
                    <br>
                    <label>Effect:</label>
                    <select id="effect" name="effect">
                        <option th:each="item : ${effects}" th:value="${item.name()}" th:text="${item.description()}">...</option>
                    </select>
                    <br>
                    <label>Process options:</label>
                    <select id="options" name="options">
                        <option th:each="item : ${options}" th:value="${item.name()}" th:text="${item.description()}">...</option>
                    </select>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </td>
            </form>
        </tr>
        <tr>
            <td colspan="2">
                <p><b>Uploaded Files</b></p>
                <ul th:each="item : ${fileListing}">
                    <li th:text="${item}">Item description here...</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2"><a href="/index.html">Home</a></td>
        </tr>
    </table>
</body>
</html>